
# third party binaries
bin/cloud_sql_proxy

# environment files
etc/env/*.env.json
!etc/env/blank.env.json

# operator keys
etc/keys/*
!etc/keys/.gitkeep

# node
*.log
node_modules/

# os x
*.DS_Store